<section>

    @if (step==1) {

        <div class="  w-75 my-5 mx-auto">
            <div class="border border-1 rounded-2 shadow border-secondary-subtle">
                <h1 class="h4 p-2 text-main ">Please enter a valid email address</h1>
                <form [formGroup]="emailForm" (ngSubmit)="verifyEmailSubmit()">
                    <div class="my-2 mx-3">
                        <label for="email" class="fs-6 fw-medium ">Email:</label>
                        <input [ngClass]="{
                            'is-invalid':emailForm.get('email')?.errors  &&(emailForm.get('email')?.touched||emailForm.get('email')?.dirty)
                        }" id="email" type="email" class="form-control" formControlName="email">
                        @if (emailForm.get('email')?.errors &&(emailForm.get('email')?.touched)) {
                        <div class=" alert alert-danger alert-w my-2  ">
                            @if (emailForm.get('email')?.getError('required')) {
                            <p class="m-0">Required</p>
                            }
                            @else if (emailForm.get('email')?.getError('email')) {
                            <p class="m-0">The email you've entered is incorrect. </p>
                            }
                        </div>
                        }
                        

                        @if (msgEroo) {
                            <p class="alert alert-danger alert-w my-2"> {{msgEroo}}</p>
                            }
                    </div>
                    

                        <button [disabled]="emailForm.invalid ||isLoading"
                        class=" btn-main fs-6 fw-bold d-block ms-auto me-2 my-2">
                        @if (isLoading) {
                        <span><i class="fas fa-spin fa-spinner"></i></span>
                        }
                        Verify Email
                    </button>
    
                </form>
    
            </div>
        </div>
    } @else if (step==2) {

        <div class="  w-75 my-5 mx-auto">
            <div class="border border-1 rounded-2 shadow border-secondary-subtle">
                <h1 class="h4 p-2 text-main ">Please enter a verification code</h1>
                <form [formGroup]="codeForm" (ngSubmit)="verifyCodeSubmit()">
                    <div class="my-2 mx-3">
                        <label for="resetCode" class="fs-6 fw-medium ">Verify Code:</label>
                        <input [ngClass]="{
                            'is-invalid':codeForm.get('resetCode')?.errors  &&(codeForm.get('resetCode')?.touched||codeForm.get('resetCode')?.dirty)
                        }" id="resetCode" type="text" class="form-control" formControlName="resetCode" placeholder="# # # # # #">
                        @if (codeForm.get('resetCode')?.errors &&(codeForm.get('resetCode')?.touched)) {
                        <div class=" alert alert-danger alert-w my-2  ">
                            @if (codeForm.get('resetCode')?.getError('required')) {
                            <p class="m-0">Required</p>
                            }
                            @else if (codeForm.get('resetCode')?.getError('pattern')) {
                            <p class="m-0">The code you've entered is incorrect. </p>
                            }
                        </div>
                        }

                        @if (msgEroo) {
                            <p class="alert alert-danger alert-w my-2"> {{msgEroo}}</p>
                            }
                    </div>
                        <button [disabled]="codeForm.invalid ||isLoading"
                        class=" btn-main fs-6 fw-bold d-block ms-auto me-2 my-2">
                        @if (isLoading) {
                        <span><i class="fas fa-spin fa-spinner"></i></span>
                        }
                        Verify Code
                    </button>
    
                </form>
    
            </div>
        </div> 
    }@else if (step==3) {

        <div class="  w-75 my-5 mx-auto">
            <div class="border border-1 rounded-2 shadow border-secondary-subtle">
                <h1 class="h4 p-2 text-main ">Please enter a new password</h1>
                <form [formGroup]=" newPasswordForm" (ngSubmit)="resetCodeSubmit()">
                    <div class="my-2 mx-3">
                        <label for="email" class="fs-6 fw-medium ">Email:</label>
                        <input [ngClass]="{
                            'is-invalid': newPasswordForm.get('email')?.errors  &&( newPasswordForm.get('email')?.touched|| newPasswordForm.get('email')?.dirty)
                        }" readonly id="email" type="email" class="form-control" formControlName="email">
                        @if ( newPasswordForm.get('email')?.errors &&( newPasswordForm.get('email')?.touched)) {
                        <div class=" alert alert-danger alert-w my-2  ">
                            @if ( newPasswordForm.get('email')?.getError('required')) {
                            <p class="m-0">Required</p>
                            }
                            @else if ( newPasswordForm.get('email')?.getError('email')) {
                            <p class="m-0">The email you've entered is incorrect. </p>
                            }
                        </div>
                        }
                    </div>
    
    
                    <div class="my-2 mx-3">
                        <label for="newPassword" class="fs-6 fw-medium ">New Password:</label>
                        <input [ngClass]="{
                            'is-invalid': newPasswordForm.get('newPassword')?.errors  &&( newPasswordForm.get('newPassword')?.touched)
                        }" id="newPassword" type="Password" class="form-control" formControlName="newPassword">
                        @if ( newPasswordForm.get('newPassword')?.errors &&( newPasswordForm.get('newPassword')?.touched)) {
                        <div class=" alert alert-danger alert-w my-2 ">
                            @if ( newPasswordForm.get('newPassword')?.getError('required')) {
                            <p class="m-0">Required</p>
                            }
                            @else if ( newPasswordForm.get('newPassword')?.getError('pattern')) {
                            <p class="m-0">The password you've entered is incorrect.</p>
                            }
                        </div>
                        }
                    </div>
    
    
                        <button [disabled]=" newPasswordForm.invalid ||isLoading"
                        class=" btn-main fs-6 fw-bold d-block ms-auto me-2 my-2">
                        @if (isLoading) {
                        <span><i class="fas fa-spin fa-spinner"></i></span>
                        }
                        Set new password
                    </button>
    
                </form>
    
            </div>
        </div>


    }
 

</section>
